@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

main {
  height: auto;
  width: 800px;

  .container {
    height: 100%;
    width: 100%;

    .row {
      height: 100%;
      width: 100%;

      .table-block {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        overflow-x: auto;
        background-color: #00000070;
        border: 1px solid red;

        table {
          thead tr th,
          tbody tr td {
            color: #ffffff;
            width: 60px;
            text-align: center;
          }

          thead tr th {
            padding: 5px 0;
            border: none;
          }

          tbody tr:nth-child(odd) {
            background: #253444c2;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  main {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  main {
    width: 400px;

    .container {
      padding: 0;
    }
  }
}

@media screen and (max-width: 420px) {
  main {
    width: 250px;
  }
}
