<main>
  <div class="container">
    <div class="row m-0">
      <div class="table-block table-responsive">
        <table class="col-md-12 table table-striped table-condensed">
          <thead>
          <tr>
            <th colspan="1"></th>
            <th colspan="2">Ніч</th>
            <th colspan="2">Ранок</th>
            <th colspan="2">День</th>
            <th colspan="2">Вечір</th>
          </tr>
          <tr>
            <th></th>
            <th>00:00</th>
            <th>03:00</th>
            <th>06:00</th>
            <th>09:00</th>
            <th>12:00</th>
            <th>15:00</th>
            <th>18:00</th>
            <th>21:00</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Температура, °C</td>
            <td>{{dayWeather.hourlyWeather["0 hours"].temperature}} °</td>
            <td>{{dayWeather.hourlyWeather["3 hours"].temperature}} °</td>
            <td>{{dayWeather.hourlyWeather["6 hours"].temperature}} °</td>
            <td>{{dayWeather.hourlyWeather["9 hours"].temperature}} °</td>
            <td>{{dayWeather.hourlyWeather["12 hours"].temperature}} °</td>
            <td>{{dayWeather.hourlyWeather["15 hours"].temperature}} °</td>
            <td>{{dayWeather.hourlyWeather["18 hours"].temperature}} °</td>
            <td>{{dayWeather.hourlyWeather["21 hours"].temperature}} °</td>
          </tr>
          <tr>
            <td>Тиск, мм</td>
            <td>{{dayWeather.hourlyWeather["0 hours"].pressure}}</td>
            <td>{{dayWeather.hourlyWeather["3 hours"].pressure}}</td>
            <td>{{dayWeather.hourlyWeather["6 hours"].pressure}}</td>
            <td>{{dayWeather.hourlyWeather["9 hours"].pressure}}</td>
            <td>{{dayWeather.hourlyWeather["12 hours"].pressure}}</td>
            <td>{{dayWeather.hourlyWeather["15 hours"].pressure}}</td>
            <td>{{dayWeather.hourlyWeather["18 hours"].pressure}}</td>
            <td>{{dayWeather.hourlyWeather["21 hours"].pressure}}</td>
          </tr>
          <tr>
            <td>Вологість, %</td>
            <td>{{dayWeather.hourlyWeather["0 hours"].humidity}}</td>
            <td>{{dayWeather.hourlyWeather["3 hours"].humidity}}</td>
            <td>{{dayWeather.hourlyWeather["6 hours"].humidity}}</td>
            <td>{{dayWeather.hourlyWeather["9 hours"].humidity}}</td>
            <td>{{dayWeather.hourlyWeather["12 hours"].humidity}}</td>
            <td>{{dayWeather.hourlyWeather["15 hours"].humidity}}</td>
            <td>{{dayWeather.hourlyWeather["18 hours"].humidity}}</td>
            <td>{{dayWeather.hourlyWeather["21 hours"].humidity}}</td>
          </tr>
          <tr>
            <td>Вітер, м/сек</td>
            <td>{{dayWeather.hourlyWeather["0 hours"].windSpeed | number: '1.1-1'}}</td>
            <td>{{dayWeather.hourlyWeather["3 hours"].windSpeed | number: '1.1-1'}}</td>
            <td>{{dayWeather.hourlyWeather["6 hours"].windSpeed | number: '1.1-1'}}</td>
            <td>{{dayWeather.hourlyWeather["9 hours"].windSpeed | number: '1.1-1'}}</td>
            <td>{{dayWeather.hourlyWeather["12 hours"].windSpeed | number: '1.1-1'}}</td>
            <td>{{dayWeather.hourlyWeather["15 hours"].windSpeed | number: '1.1-1'}}</td>
            <td>{{dayWeather.hourlyWeather["18 hours"].windSpeed | number: '1.1-1'}}</td>
            <td>{{dayWeather.hourlyWeather["21 hours"].windSpeed | number: '1.1-1'}}</td>
          </tr>

          <tr>
            <td>Імовірність опадів, %</td>
            <td>{{dayWeather.hourlyWeather["0 hours"].rainProbability}}</td>
            <td>{{dayWeather.hourlyWeather["3 hours"].rainProbability}}</td>
            <td>{{dayWeather.hourlyWeather["6 hours"].rainProbability}}</td>
            <td>{{dayWeather.hourlyWeather["9 hours"].rainProbability}}</td>
            <td>{{dayWeather.hourlyWeather["12 hours"].rainProbability}}</td>
            <td>{{dayWeather.hourlyWeather["15 hours"].rainProbability}}</td>
            <td>{{dayWeather.hourlyWeather["18 hours"].rainProbability}}</td>
            <td>{{dayWeather.hourlyWeather["21 hours"].rainProbability}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
