@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';


main {
  background: url('../../../assets/img/home-background.jpg') fixed no-repeat;
  background-size: cover;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;

    .search-city-block {
      min-height: 100px;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .city-input {
        height: 50px;
        width: 400px;
        background: transparent;
        border: 1px solid #fff;
        outline: none;
        border-radius: 10px;
        padding: 0 20px;
        color: #ffffff;
        font-size: 23px;

        &::placeholder {
          color: #ffffff;
        }

        @include media-breakpoint-down(sm) {
          width: 300px;
          font-size: 19px;
        }
      }

      .search-button {
        cursor: pointer;
        height: 50px;
        width: 100px;
        border: 1px solid #fff;
        outline: none;
        background: white;
        border-radius: 10px;
        position: absolute;
        right: 0;
        font-size: 20px;

        &:hover {
          color: red;
          font-weight: 600;
        }
      }

      @include media-breakpoint-down(sm) {
        height: 100px;
        width: 300px;
        margin-bottom: 30px;
      }
    }

    .days-selector {
      height: auto;
      width: 100%;
      max-width: 800px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      .day-item {
        min-height: 250px;
        max-height: 260px;
        width: 150px;
        border-radius: 10px;
        box-shadow: inset 0 0 0 200px rgba(50, 50, 50, 0.2);
        padding: 15px 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-transform: capitalize;
        color: cornsilk;
        font-size: 20px;
        border: 1px solid red;
        cursor: pointer;

        .day-number {
          color: red;
          font-size: 40px;
        }

        .weather-icon {
          height: 50px;
          width: 50px;
          filter: brightness(0) invert(1);
        }

        @include media-breakpoint-down(sm) {
          margin-bottom: 30px;
          min-height: 185px;
          width: 85px;
          font-size: 15px;
        }
      }

      .selected-day {
        border: 2px solid springgreen;
      }

      @include media-breakpoint-down(sm) {
        justify-content: space-around;
        padding: 0 10px;
      }
    }
  }
}
